.current-user-container {
  margin-bottom: 40px;
}

.change-user-button {
  border: none;
  color: grey;
  margin-left: 10px;
  background-color: white;
  padding: 10px 0px;
  font-size: 15px;
  cursor: pointer;
}

.select-input-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.select-avatar-color {
  width: 50px;
  outline: none;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
  height: 40px;
}

.user-input {
  font-family: inherit;
  font-size: 15px;
  height: 10px;
  outline: none;
  padding: 1%;
  border: 1px solid lightgray;
  border-radius: 4px;
}