.separator-line-container {
  width: 40px;
  cursor: pointer;
}

.separator-line-container:hover > .separator-line {
  width: 6px;
}

.separator-line {
  height: 100%;
  width: 2px;
  min-height: 15px;
  background-color: lightgray;
  margin: 0px 19px;
}

.main-content-container {
  display: flex;
}

.comment-reply-container {
  width: 100%;
}

.comment-reply-button {
  border: none;
  color: grey;
  background-color: white;
  padding: 10px 0px;
  font-size: 15px;
  cursor: pointer;
}