.comment-username {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 10px 0px;
}

.user-avatar {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}